.active {
  border-bottom: 4px solid turquoise;
  font-size: 20px;
  border-radius: 25px;
  font-weight: bold;
  background: linear-gradient(
    to right top,
    #2d6ac9,
    #0093eb,
    #00b7e5,
    #00d4b9,
    #12eb79
  ) !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.26) 0px 15px 22px;
}

.accordion-item {
  background-color: white;
  border-color: blue;
  box-shadow: rgba(92, 19, 107, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.26) 0px 15px 22px;
}
